/.metadata
/.git
.project
.settings
**/.project
**/.settings
**/target
*.iml
/.idea
INJURY.java
**/bin
**/*.classpath
 .idea/
    api/financials-api.iml
    api/target/
    financials.iml
    omod/financials-omod.iml
    omod/src/main/webapp/resources/
    omod/target/
